<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag("#{@author.image}") %>
</p>

<p>
  <strong>You:</strong>
  <%= @author.full_name %>
</p>

<%= link_to 'Back', posts_path, class: 'btn btn-black' %>
